#future{
    color:black;
    border:solid;
    
    border-width: 0 0 2px 0;
}

.but{
    height:50px;
    background: linear-gradient(to right top, rgb(46, 46, 113),rgb(101, 105, 218));
    transition: background 0.3s;
}

.but:hover{
    background: linear-gradient(to top right,rgb(101, 105, 218), rgb(46, 46, 113));
}
