.banner{
    height: 80px;
    width:100%;
    background-color: rgb(19, 89, 154);
    color:white;
}

a{
    text-decoration: none;
}

.tag{
    color:black;
}

.bottom{
    height: 80vh;
}

.banner2{
    height:20vh;
    background-image: url(eimg/path3.png);
    background-size: contain;
}